:root {
  --gray: #293241;
  --red: #F67669;
  --soft-blue: #BFD7E4;
  --text: #4E4958;
  --description: #958ba7;
  --title: #253B51;
  --white: #FFF;
  --title-font: "Staatliches", sans-serif;
  --text-font: "Poppins", sans-serif;
  --input-bg: #FAFAFC;
  --input-border: #E6E6F0;
  --button-hover: #f56985;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input, textarea {
  font-family: var(--text-font)
}

h1, h3, legend, button {
  font-family: var(--title-font)
}

body {
  margin-bottom: 24.5rem;
  -webkit-font-smoothing: initialised;

  background-color: var(--soft-blue);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-to-form2 {
  position: fixed;
  bottom: 20px;
  left: 20px;
  text-decoration: none;
  border-radius: 8px;
  padding: 1rem;

  background-color: #d994a2;
  color: var(--white);
  transition: 0.4s ease-in-out;
}

.button-to-form2:hover {
  background-color: var(--button-hover);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 29.0625rem;

  background-color: var(--gray);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;

  width: 100%;
  max-width: 46.875rem;
}

.header-info {
  height: 100%;
  padding-top: 6.6875rem;
}

.header-info h1 {
  font-family: var(--title-font);
  font-weight: 400;
  font-weight: 2.25rem;

  color: var(--white);
}

.header-info p {
  font-family: var(--text-font);
  font-weight: 400;
  font-size: 1rem;

  padding-bottom: 1.875rem;

  color: var(--white);
}

.form h2{
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: var(--title-font);
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;

  width: 100%;
  height: 8.3125rem;
  margin-top: -8.3125rem;
  border-radius: 20px 20px 0 0;

  color: var(--white);
  background-color: var(--red);
}

form {
  display: flex;
  flex-direction: column;
  gap: 5rem;

  width: 100%;
  padding: 2rem 4rem 4rem;
  border-radius: 0 0 20px 20px;

  background-color: var(--white);
}

fieldset {
  border: none;
}

.input-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

label {
  font-size: 0.875rem;

  color: var(--text);
}

label span {
  font-size: 0.75rem;

  color: var(--description);
}

label strong {
  color: var(--red);
}

input, textarea {
  height: 3.5rem;
  border-radius: 8px;
  padding: 1rem;

  font-size: 0.875rem;

  background-color: var(--input-bg);
  color: var(--description);
  border: 1px solid var(--input-border);
}

.personal-container {
 display: flex;
 flex-direction: column;
 gap: 1rem;
}

.name-container {
  display: flex;
  gap: 1.375rem;
  width: 100%;
}

.first-name, .last-name, email{
  width: 100%;
}

.first-name input, .last-name input{
  width: 100%;
  max-width: 18.75rem;
}

.fieldset-wrapper legend {
  font-family: var(--title-font);
  font-size: 1.5rem;
  text-align: center;

  padding-bottom: 0.5rem;
  margin-bottom: 2rem;

  border-bottom: 1px solid var(--input-border);

  color: var(--title);
}

.mentor-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.mentor-name input{
  width: 100%;
  max-width: 19.4375rem;
}

textarea {
  width: 100%;
  height: 10.5rem;

  resize: none;
}

.checkbox-field {
  position: relative;
  margin-top: 1.5rem;
}

.checkbox-field label{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.checkbox-field label::before {
  content: "";
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  aspect-ratio: 1 / 1;

  border-radius: 8px;
  border: 1px solid var(--input-border);
}

.checkbox-field input:checked + label::before{
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 11.17L1.83 7L0.410004 8.41L6 14L18 2L16.59 0.589996L6 11.17Z' fill='%2342D3FF'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;
}

.checkbox-field input:focus + label::before{
  outline: 2px solid black;
}

.checkbox-field input {
  position: absolute;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 8px;
  opacity: 0;
}

.date-time-wrapper {
  display: flex;
  gap: 2rem;
}

.date, .time-wrapper {
  flex: 1;
}

.date input {
  width: 100%;
  max-width: 18.75rem;
}

.time-wrapper {
  display: flex;
  gap: 0.625rem;
  width: 100%;
}

.time-wrapper .time {
  width: 100%;
  max-width: 8.75rem;
}

.button-submit {
  width: 100%;
  height: 3.1875rem;
  border: none;
  cursor: pointer;
  border-radius: 8px;

  font-size: 1.25rem;

  transition: 0.3s ease-in-out;

  background-color: var(--red);
  color: var(--white);
}

.button-submit:hover {
  background-color: var(--button-hover);
}

input:focus:invalid  {
  outline: 0;
  border: 2px solid var(--red);
}


@media (max-width: 650px) {
  .date-time-wrapper {
    flex-direction: column;
  }

  .date input {
    max-width: 100%;
  }
  .time-wrapper .time {
    max-width: 100%;
  }
}

@media (max-width: 425px) {
  input, textarea {
    font-size: 0.75rem;
  }
  label {
    font-size: 0.75rem;
  }
  
  label span {
    font-size: 0.625rem;
  }
}